<!DOCTYPE html>
<html>
<head>
%ROOM_TITLE%
<script>
	window.onload = function() {
	
		document.write('<a href="janus:' + window.location.href.replace(/^((http)|(file)):/,'') + '">View in JanusVR</a>');
	}
</script>
<style>

</style>
</head>
<body>
<!--
<FireBoxRoom>
<Assets>
%ASSETS%
</Assets>
%ROOM_HTML%
</FireBoxRoom>
-->
</body>
</html>